@tailwind base;
@tailwind components;
@tailwind utilities;

:root
{
  --dark-a0: #000000;
  --light-a0: #ffffff;

  --primary-a0: #96009e;
  --primary-a10: #a434a9;
  --primary-a20: #b151b4;
  --primary-a30: #bd6bbf;
  --primary-a40: #c984c9;
  --primary-a50: #d59dd4;

  --surface-a0: #212121;
  --surface-a10: #363636;
  --surface-a20: #4c4c4c;
  --surface-a30: #636363;
  --surface-a40: #7b7b7b;
  --surface-a50: #949494;
}

@font-face
{
  font-family: "montserrat";
  src: url("/fonts/montserrat.ttf") format("truetype");
  font-style: normal;
  font-weight: 100-900;
}

@font-face
{
  font-family: "montserrat";
  src: url("/fonts/montserrat_italic.ttf") format("truetype");
  font-style: italic;
  font-weight: 100-900;
}

body
{
  color: var(--light-a0);
  background: var(--surface-a0);
  font-family: "montserrat", Helvetica, sans-serif;
}